.nav-bar{
background: rgb(150, 219, 242) ;
color: black;
text-decoration: none;
padding: 10px 20px;
border-radius: 30px;
margin-left: 20px;
}

nav{
display: flex;
justify-content: flex-end;
margin: 10px;
background: coral;
padding: 10px;
border-radius: 30px;
max-width: 500px;
}

.nav-bar:hover{
background: rgb(74, 74, 246);
color: black;
border-color: 1px black;

}